.profile__edit-btn {
    border: none;
    background-size: contain;
    background-color: #000;
    padding: 0;
    background-image: url(../../../images/EditButton.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .4s linear;
}

.profile__edit-btn:hover {
    opacity: .6;
}


@media (min-width: 320px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-top: 7px;
    }
}

@media (min-width: 1280px) {
    .profile__edit-btn {
        width: 24px;
        height: 24px;
        margin-left: 19px;
        margin-top: 15px;
    }
}