 @media (min-width: 320px) { 
    .header__logo {
        min-width: 103.74px;
        max-height: 24.4px;
    }
 } 

@media (min-width: 1280px) {
    .header__logo {
        max-width: 176px;
        max-height: 33px;
    }
}