.footer__copyright {
    font-weight: 400;
    color: #545454;
    text-align: left;
}

@media (min-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}

@media (min-width: 1280px) {
    .footer__copyright {
        font-size: 18px;
        line-height: 22px;
    }
}