.elements__delete-btn {
    background-image: url(../../../images/Trash.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    padding: 0;
    align-self: center;
    min-width: 18px;
    height: 19px;
    cursor: pointer;
    transition: .4s linear;
}

.elements__delete-btn:hover {
    opacity: .5;
}